@use '../sass/abstracts/vars';

.btn{
    background-color: white;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    font-family: Arial;
    border: 0;
    &.primary {
        background-color: vars.$color__primary;
    }
    &.secondary {
        background-color: black;
        border: 2px solid white;
        color: white;
    }
}